.signUp {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.signUp_container {
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.signUp_header p {
  color: var(--color-blue-secondary);
  font-size: 0.9rem;
  text-align: left;
}

.signUp_one {
  flex-basis: 50%;
  width: 100%;
  overflow-y: scroll;
}

.signUp_one_one {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 2rem 0rem;
}

.signUp_one_three {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 0rem 1.5rem;
}

.signUp_header p {
  margin-top: 0.5rem;
}

.signUp_two {
  background: var(--color-blue-secondary);
  color: var(--color-white);
}

.signUp_two_one {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 7rem;
}

.signUp_two_two {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.signUp_two_two p {
  font-size: 0.9rem;
  font-weight: 400;
}

.signUp_two_two h2 {
  font-size: 2rem;
  font-weight: 600;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.backToPrevious {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
  background: var(--color-blue-secondary);
  color: var(--color-white);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.backToPrevious svg {
  font-weight: 800;
  font-size: 1.3rem;
}

.signUp_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  margin: auto;
}

.signUp_form p {
  color: var(--color-red);
  font-size: 0.8rem;
}

.signUp_password {
  width: 100%;
  position: relative;
}

.signUp_password svg {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--color-blue-primary);
}

.signUp_input {
  all: unset;
  height: 1.8rem;
  border-bottom: 1.5px solid var(--color-black);
  width: 100%;
}

.signUp_input:focus {
  border-bottom: 1.5px solid var(--color-blue-primary);
}

.TC {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.TC p {
  font-size: 0.7rem;
  color: var(--color-blue-secondary);
  cursor: pointer;
  text-decoration: underline !important;
}

.termandcondition {
  height: 100%;
  overflow-y: scroll;
  width: 30rem;
}

.termandcondition h1 {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  padding-bottom: 0.5rem;
}

.termandcondition h2 {
  margin-top: 1rem;
}

.termandcondition p {
  font-size: 0.9rem;
}

.termandcondition ul > li {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
.acceptBtn {
  width: 100%;
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.signUp_submit {
  all: unset;
  padding: 10px 0px;
  color: var(--color-white);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-blue-primary);
  cursor: pointer;
}

.signUp_submit:disabled {
  background: var(--color-blue-secondary);
  cursor: not-allowed;
}

.PhoneInputInput {
  all: unset;
  width: 35rem;
  height: 1.8rem;
  padding-left: 1rem;
  border-bottom: 1.5px solid var(--color-black);
}

.PhoneInputInput:focus {
  border-bottom: 1.5px solid var(--color-blue-primary);
}

.redirectingTo,
.acctExist {
  text-align: center;
}

/* =====================MINILOADER======================== */
.mini-spinner {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 9px solid;
  border-color: #8891f5;
  border-right-color: #bebebe;
  animation: spinner-d3wgkg1 1s infinite linear;
}

@keyframes spinner-d3wgkg1 {
  to {
    transform: rotate(1turn);
  }
}

/* =======================SIGNIN MODAL========================== */
.signIn_container {
  width: 33rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.signIn_containerPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.signIn_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  flex-direction: column;
  color: var(--color-blue-primary);
}

.signIn_header {
  width: 100%;
  all: inherit;
  gap: 0.7rem;
}

.signIn_header h2 {
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--color-black);
}

.signIn_header p {
  color: var(--color-black);
}

.signInwithThirdPartyBtn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.signInwithThirdPartyBtn button {
  all: unset;
  padding: 10px 5px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  background: transparent;
  border: 1.5px solid var(--color-black);
  border-radius: 5px;
  cursor: pointer;
  transition: all linear 500ms;
}

.signInwithThirdPartyBtn button:hover {
  background: var(--color-black);
  color: var(--color-white);
  border: 1.5px solid var(--color-white);
}

.signInwithThirdPartyBtn button:disabled {
  background: var(--color-light-black);
}

.signInwithThirdPartyBtn p {
  color: var(--color-red);
  text-align: center;
  font-size: 0.8rem;
}

.signInwithThirdPartyBtn svg {
  font-size: 1.2rem;
}

.signInOr {
  color: var(--color-grey-dark);
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.signInOr > div {
  width: 50%;
  height: 1px;
  background: var(--color-grey-dark);
}

.signIn_form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  width: 100%;
}

.signIn_input {
  display: flex;
  width: 100%;
  align-items: center;
  border: 1.5px solid var(--color-black);
  height: 2.5rem;
  border-radius: 5px;
}

.signIn_input input {
  all: unset;
  width: 100%;
  padding-left: 0.5rem;
}

.signIn_input_svg {
  height: 100%;
  width: 3rem;
  background: var(--color-blue-primary);
  display: grid;
  place-items: center;
  color: var(--color-white);
  cursor: pointer;
}

.signIn_input_svg svg {
  font-size: 1.1rem;
}

.signIn_forgetPassword {
  text-decoration: underline !important;
  width: 100%;
  text-align: right;
  font-size: 0.85rem;
}

.signIn_submit {
  all: unset;
  width: 100%;
  padding: 10px 0;
  align-items: center;
  display: flex;
  justify-content: center;
  background: var(--color-blue-primary);
  color: var(--color-white);
  border-radius: 5px;
  cursor: pointer;
  transition: all linear 500ms;
}

.signIn_submit:hover {
  transform: translateY(-4px);
}

.signIn_submit:disabled {
  background: var(--color-blue-secondary);
  cursor: not-allowed;
}

.signUpwithEmail_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.signUpwithEmail_container p {
  color: var(--color-red);
  text-align: center;
  font-size: 0.8rem;
}

#acctCreated {
  text-align: center;
  width: 100%;
  color: var(--color-success);
}

.idonthaveanAcct {
  text-align: center;
  font-size: 0.9rem;
  color: var(--color-darkest);
}

.idonthaveanAcct > :link {
  text-decoration: underline !important;
}

/* =======================EMAIL CHECK ANIMATION====================== */
.fade-in-top {
  -webkit-animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/* =====================MEDIA QUERY======================= */

@media (max-width: 900px) {
  .signUp_one_one {
    margin: 4rem 0rem;
  }
}

@media (max-width: 767px) {
  .signUp_container {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
  }

  .signUp_one {
    width: 100%;
    flex-basis: 70%;
  }

  .signUp_one_one {
    margin: 2rem 0rem;
  }

  .signUp_one_three {
    padding-top: 1rem;
  }

  .signUp_two {
    flex-basis: 30%;
  }

  .signUp_header p {
    margin-top: 0rem;
  }

  .signUp_header h2,
  .signUp_header p {
    text-align: left;
  }

  .signUp_header p {
    font-size: 1rem;
  }

  .signUp_two_two p {
    display: none;
  }

  .signUp_two_one {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .signUp_form {
    gap: 1.3rem;
  }

  .backToPrevious {
    background: var(--color-white);
    color: var(--color-blue-secondary);
  }

  .termandcondition {
    width: 17rem;
  }

  .termandcondition h1 {
    text-align: left;
  }

  .signIn_container {
    width: 20rem;
  }
}

@media (max-width: 320px) {
  .signUp_header h2 {
    font-size: 1.1rem;
  }

  .signUp_header p {
    font-size: 0.7rem;
  }

  .TC p {
    font-size: 0.5rem;
  }

  .PhoneInputInput::placeholder,
  .signUp_input::placeholder {
    font-size: 0.8rem;
  }

  .signUp_form {
    gap: 0.9rem;
  }

  .termandcondition {
    width: 14rem;
  }

  .signIn_container {
    width: 14rem;
  }

  .signIn_header h2 {
    font-size: 1.2rem;
  }

  .signIn_header p {
    color: var(--color-black);
    text-align: center;
  }

  .signInwithThirdPartyBtn button {
    font-size: 0.9rem;
  }
}
