.forgetPassword_container {
  width: 100vw;
  height: 100vh;
}

.forgetPassword_wrapper {
  all: inherit;
}

.forgetPassword_one {
  all: inherit;
  display: flex;
  overflow: hidden;
}

.forgetPassword_two {
  flex-basis: 40%;
  width: 100%;
}

.forgetPassword_three {
  flex-basis: 60%;
  width: 100%;
  height: 100%;
  background: var(--color-blue-secondary);
}

.forgetPassword_three_one {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 2.5rem;
}

.image_change {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image_change img {
  width: 50%;
  margin: auto;
  height: 100%;
}

.image_change h2 {
  text-align: center;
  color: var(--color-white);
  font-weight: 500;
  font-size: 1.3rem;
}

.forgetPassword_two_one {
  padding: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
  text-align: center;
}

.forgetPassword_two_one_h2 {
  font-weight: 500;
}

.forgetPassword_two_one form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
}

.forgetPassword_two_one form > button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}

.forgetPassword_two_one form > button:disabled {
  background: var(--color-blue-secondary);
  cursor: not-allowed;
}

.forgetPassword_input {
  all: unset;
  height: 2.3rem;
  border-bottom: 1.5px solid var(--color-black);
}

.notify_div {
  width: 100vw;
}

.notifyModal {
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.3rem;
}

.notifyModal_img {
  width: 40%;
  background: var(--color-blue-very-light);
  border-radius: 50%;
}

.notifyModal_img img {
  width: 100%;
}

.Success_Notify {
  color: var(--color-success);
  text-align: center;
  font-size: 0.9rem;
}

.Error_Notify {
  color: var(--color-red);
  text-align: center;
  font-size: 0.9rem;
}

/* ======================MEDIA QUERY========================== */
@media (max-width: 768px) {
  .forgetPassword_one {
    flex-direction: column-reverse;
  }

  .forgetPassword_two {
    flex-basis: 50%;
  }

  .forgetPassword_three {
    flex-basis: 50%;
  }

  .image_change img {
    width: 70%;
  }

  .image_change h2 {
    font-size: 1rem;
    font-weight: 400;
  }

  .notifyModal {
    width: 20rem;
  }

  .notifyModal_img {
    width: 35%;
  }
}
